body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
header{
  background-color: #F0FFF0;
  padding: 15px 0;
}
.c_nav{}
.logo{
  width: 195px;
}
.menu{}
.menu ul li a{
line-height: 24px;
color: #000000 !important;
padding: 0 25px !important;
}
.menu ul li a:hover{
 color: #FBD15B !important;
  ;
}
.btn_common{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #21B573;
  color: white;
}
.btn_common:hover{
  background-color: #21B573;
  color: #FBD15B !important;
}
.btn_header{
  width: 104px;
  height: 43px;
  border-radius: 15px;
  padding: 12px 24px;
}
/* Banner star */
.banner{
  padding: 30px 0 60px;
  background-color:#F0FFF0;
}
.banner_text{}
.banner_p1{
  line-height: 24px;
  color: #FD511A;
}
.banner_h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
}
.banner_h1 span{
  color:#21B573;
}
.banner_p2{
  line-height: 36px;
}
.banner_btn{
  margin-top: 14px;
  width: 153px;
  height: 43px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
}
.banner_img{}
.banner_img img{}
/* Banner end */

/* feture section start */
.feture{
  padding-top: 45px;
  padding-bottom: 100px;
}
.s_feature{
  width: 100%;
  min-height: 270px;
  text-align: center;
  padding: 55px 37px;
  background-color: #F8FFFB;
  border-radius: 10px;
  transition: .33s;
}
.s_feature:hover{
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.f_img{
  margin-bottom: 22px;
}
.f_img img{}
.f_h2{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: black;
}
.f_p{
  line-height: 24px;
  color: black
}

/* feture section end*/

/* course section start */
.courses{
  margin-bottom: 100px;
}
.c_title{}
.c_h1{
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
.c_item{
  margin-top: 60px;
  padding: 25px 20px 30px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}
.c_img{}
.c_img img{}
.c_h2{
  margin: 18px 0px 3px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.c_p{
  line-height: 24px;
}
.c_btn{
  margin:20px 0 35px ;
  width: 137px;
  height: 35px;
  padding: 8px 20px;
}
.c_footer{}
.calendar{}
.c_li{
  margin-right: 0 !important;
}
.calendar ul li img, .people ul li img{
  width: 24px;
}
.calendar ul li span, .people ul li span{
  font-weight: 500;
  line-height: 24px;
}
/* course section end */

/* testimonial start */
.testimonials{
  margin-bottom: 100px;
}
.mb{
  margin-bottom: 50px;
}
.profilePic{}
.profilePic img{}
.contant{}
.contant p{}
.contant p span{
  line-height: 30px;
}
/* testimonial end */

/* footer section start */
.footer{
  color: #FFFFFF;
  background-color: #000000;
  padding: 50px 0 25px;
}
.footer p{
  line-height: 30px;
}
.footer ul{}
.footer ul li{ 
  padding: 5px 0;
}
.footer ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 0;
}
.footer ul li:hover a{
  color: #FBD15B !important;
}

/* footer section end */